
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Teko:wght@300..700&family=Titillium+Web&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --mainHeading:#865DFF;
}
body {
  color: white;
  background:black;
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

