.navContainer{
    margin: 2%;
    padding:0 2%;
    position: fixed;
    border: 2px solid whitesmoke;
}
.navContainerCode{
    display: inline;
    font-size: 1.5rem;
    color: rgb(100, 100, 100);
    font-weight: 300;
}
.navContainerTitle{
    display: inline;
    font-size: 2rem;
    font-weight: 500;
    color:var(--mainHeading);
}
.navContainerCodeNIL{
    font-size: 1.5rem;
    color: rgb(100, 100, 100);
    margin:0.5% 2%;
    font-weight: 300;
}
